.banner{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #4361ee;
    color: white;
}

.banner-logo{
    width: 100vw;
    display: flex;
    justify-content: start;
}

.welcome-container{
    background: url("../assets/moneyPic.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 500px;
}

.spacer{
    height: 500px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5)
}

.spacer-alt{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    padding: 10px;
}