.ad{
 max-width: 600px;
}

.ad-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}
.banner a{
    color: white;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 500;
}
.banner a:hover{
    filter: brightness(95%)
}

.banner-logo{
    width: 100vw;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

.card{
    border-top: 10px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
}
.card button{
    margin: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card-image{
    max-width: 100%;
    height: auto;
}
.card-image-container{
    display: flex;
    justify-content: center;
}

.spacer{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 480px;
    align-items: center;
}
.testimonial{
    max-width: 25%;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.75);
}
.testimonials-container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.text-lg{
    font-size: 1.5rem;
}

.text-centered{
    text-align: center;
}

.welcome-container{
    background: url("../assets/moneyImg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 500;
}

@media (min-width: 481px) {
    .spacer{ max-width: 45%}
}

@media screen and (max-width: 480px) {
    .spacer{ width: 100vw; margin: 0}
}