.ad{
 max-width: 600px;
}

.ad-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: white;
}
.banner a{
    color: white;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 500;
}
.banner a:hover{
    filter: brightness(95%)
}

.banner-logo{
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

.card{
    border-top: 10px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
}
.card button{
    margin: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.card-image{
    max-width: 100%;
    height: auto;
}
.card-image-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.list-container{
    padding: 20px
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
   display: flex;
   justify-content: center;
    transition: all 0.5s;
}

.slider{
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
}
.slider button{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary)
}
.slider button:active {
    transform: scale(1.1);
}

.slider-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-prev {
    top: 45%;
    left: 2%;
}  
.btn-next {
    top: 45%;
    right: 2%;
}

.spacer{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 480px;
    align-items: center;
   
}
.testimonial{
    max-width: 25%;
    min-width: 250px;
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.75);
    overflow: hidden;
}
.testimonials-container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.text-lg{
    font-size: 1.5rem;
}

.text-centered{
    text-align: center;
}

.welcome-container{
    background: url("../assets/moneyImg.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100vw;
}

@media (min-width: 481px) {
    .spacer{ max-width: 45%}
}

@media screen and (max-width: 480px) {
    .spacer{ width: calc(100% - 20px); margin: 0}
}